.DS_Store
*.out
*.test
*.xml
*.swp
.idea/
*.iml
*.cov
*.html
*.pyc
.pyenv
test.log
*~
.tmp
.generated
vendor/
librocksdb*

# Executables produced by Cherami repo
cherami-admin
cherami-cassandra-tool
cherami-cli
cherami-replicator-tool
cherami-server
cherami-replicator-server
cdb
cherami-store-tool
cmq
